<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/global.css">
    <link rel="stylesheet" href="./styles/portfolio.css">
    <title>Portafolio</title>
</head>
<body>
    <div class="layout">

        <aside>

            <div>

                <div class="wrapper_borderPefil">
                    <div class="wrapper_imgPerfil">
                        <img src="./img/profile.png" alt="">
                    </div>
                </div>

                <h3 class="namePerfil">Alex Pablo</h3>

                <div class="wrapper_titlePosition">
                    <h2 class="titlePosition">Desarrollador web</h2>
                </div>

                <div class="lineDivider"></div>

                <div>
                    <div class="cardPerfil">
                        <img src="./icon/IconamoonEmail.svg" alt="">
                        <div >
                            <p class="title">Correo</p>
                            <p class="info">alexpabloanibal@gmail.com</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="wrapper_iconsExternal">
                <a href="https://github.com/Alex-Pablo" target="_blank">
                    <img src="./icon/MdiGithub.svg" class="iconsmall" alt="github">
                </a>
            </div>
        </aside>


        <div class="container">

            <header>
                <p class="titlePage">Portafolio</p>

                <nav class="menuItems">
                    <ul class="items">
                        <li class="nav-item"><a class="link-item" href="/">Resumen</a></li>
                        <li class="nav-item"><a class="link-item activeLink" href="/projects">Portafolio</a></li>
                    </ul>
                </nav>
            </header>

            <main>


                <div class="card-container">


                    <div class="card">
                        <img  src="./img/administradorCompu.png" alt="Card 1">
                        <h2 class="tileCard">myCompu</h2>
                        <p class="descriptionCard">myCompu es una aplicación desarrollada con .NET MAUI que permite visualizar información detallada sobre tu computadora. La app ofrece un análisis completo del software instalado, el hardware, los procesos en ejecución y el consumo de recursos, proporcionando una herramienta integral para el monitoreo y la gestión del sistema.</p>
                        
                    </div>


                    <div class="card">
                        <img  src="./img/GameCode.png" alt="Card 1">
                        <h2 class="tileCard">GameCode</h2>
                        <p class="descriptionCard">Desarrollé una aplicación web utilizando Angular, .NET Core y SQL Server que permite a los usuarios resolver ejercicios de SQL. La plataforma incluye un editor para escribir consultas, una sección de instrucciones y una visualización inmediata de los resultados, ofreciendo un entorno interactivo para el aprendizaje de SQL.</p>
                        
                    </div>

                    <div class="card">
                        <div class="wrapper_img">
                            <img  class="imgHorizontal" src="./img/totito.jpg" alt="Card 1">
                        </div>
                        <h2 class="tileCard">Totito</h2>
                        <p class="descriptionCard">Desarrollé el juego Totito utilizando Java para la lógica del juego y Blender para la creación de los recursos gráficos. El proyecto incluye un sistema de control de turnos, detección de ganadores y manejo de empates, brindando una experiencia fluida y visualmente atractiva. Este juego fue diseñado como un proyecto interactivo para mejorar mis habilidades en desarrollo de videojuegos y modelado 3D..</p>
                    </div>

                    <div class="card">
                        <img  src="./img/nova.png" alt="Card 1">
                        <h2 class="tileCard">Pagina web Nova</h2>
                        <p class="descriptionCard">Desarrollé una página web utilizando Next.js y MongoDB para gestionar y almacenar información de una empresa. La plataforma muestra datos clave como información de contacto, detalles de empleados, así como la misión y visión de la organización. Este proyecto combina una estructura moderna de front-end con una base de datos NoSQL para ofrecer un sitio web eficiente y dinámico.</p>
                        
                    </div>

                    <div class="card">
                        <img  src="./img/lectorPDF.png" alt="Card 1">
                        <h2 class="tileCard">Lector de PDF</h2>
                        <p class="descriptionCard">Desarrollé una aplicación en Python utilizando Streamlit y la API de ChatGPT que permite a los usuarios cargar un archivo PDF y realizarle preguntas directamente sobre su contenido. La aplicación procesa el PDF y genera respuestas inteligentes basadas en el texto
                </div>



            </main>

        </div>
    </div>
</body>
</html>