<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/reset.css">
    <link rel="stylesheet" href="./styles/global.css">
    <link rel="stylesheet" href="./styles/skills.css">
    <title>Habilidades</title>
</head>
<body>
    <div class="layout">

        <aside>

            <div>

                <div class="wrapper_borderPefil">
                    <div class="wrapper_imgPerfil">
                        <img src="./img/profile.png" alt="">
                    </div>
                </div>

                <h3 class="namePerfil">Alex Pablo</h3>

                <div class="wrapper_titlePosition">
                    <h2 class="titlePosition">Desarrollador web</h2>
                </div>

                <div class="lineDivider"></div>

                <div>
                    <div class="cardPerfil">
                        <img src="./icon/IconamoonEmail.svg" alt="">
                        <div >
                            <p class="title">Correo</p>
                            <p class="info">alexpabloanibal@gmail.com</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="wrapper_iconsExternal">
                <a href="https://github.com/Alex-Pablo" target="_blank">
                    <img src="./icon/MdiGithub.svg" class="iconsmall" alt="github">
                </a>
            </div>
        </aside>


        <div class="container">

            <header>
                <p class="titlePage">Resumen</p>

                <nav  class="menuItems">
                    <ul class="items">
                        <li class="nav-item"><a class="link-item activeLink" href="/">Resumen</a></li>
                        <li class="nav-item"><a class="link-item" href="/projects">Portafolio</a></li>
                    </ul>
                </nav>
            </header>

            <main>


                <div class="container-resume">


                    <section>
                        <div class="wrapper_Title">
                            <div class="wrapper_icon">
                                <img src="./icon/TdesignEducation.svg" alt="" width="20">
                            </div>
                            <p class="wrapper_Title_Title">Educación</p>
                        </div>

                        <div class="wrapper_Education wrapper_Title">
                            <div class="wrapperlineVertical">
                                <div class="lineVertical"></div>
                            </div>

                            <div class="wrapperListItems">

                                <div class="wrapper-item">
                                    <p class="item-title">Universidad UMG - Ingeniería en sistemas</p>
                                    <p class="item-subtitle">2020-2025</p>
                                </div>

                                <div class="wrapper-item">
                                    <p class="item-title">Platzi - cursos programación</p>
                                    <p class="item-subtitle">2024-2024</p>
                                </div>

                                <div class="wrapper-item">
                                    <p class="item-title">Udemy - Cursos programación</p>
                                    <p class="item-subtitle">2024-2024</p>
                                </div>

                                <div class="wrapper-item">
                                    <p class="item-title">Colegio CISS - Diseño grafico</p>
                                    <p class="item-subtitle">2018-2019</p>
                                </div>
                            </div>

                        </div>
                    </section>

                    <section>
                        <div class="wrapper_Title">
                            <div class="wrapper_icon">
                                <img src="./icon/TdesignEducation.svg" alt="" width="20">
                            </div>
                            <p class="wrapper_Title_Title">Habilidades técnicas</p>
                        </div>

                        <div class="wrapper_Title">
                            <div class="wrapper_Skills">


                                <div class="wrapperCategory-skills">
                                    <p class="item-title">Lenguajes de programación:</p>
                                    <div class="wrapper_skill">
                                        <p class="item-subtitle">C#</p>
                                        <p class="item-subtitle">javaScript</p>
                                        <p class="item-subtitle">Visual Basic</p>
                                    </div>
                                </div>


                                <div class="wrapperCategory-skills">
                                    <p class="item-title">Frameworks y Librerías:</p>
                                    <div class="wrapper_skill">
                                        <p class="item-subtitle">Angular, </p>
                                        <p class="item-subtitle">Nextjs,</p>
                                        <p class="item-subtitle">.Net</p>
                                    </div>
                                </div>

                                <div class="wrapperCategory-skills">
                                    <p class="item-title">Bases de Datos:</p>
                                    <div class="wrapper_skill">
                                        <p class="item-subtitle">SQL Server</p>
                                    </div>
                                </div>

                                <div class="wrapperCategory-skills">
                                    <p class="item-title">Control de Versiones:</p>
                                    <div class="wrapper_skill">
                                        <p class="item-subtitle">Git</p>
                                    </div>
                                </div>

                                <div class="wrapperCategory-skills">
                                    <p class="item-title">Diseño y Prototipo:</p>
                                    <div class="wrapper_skill">
                                        <p class="item-subtitle">Figma</p>
                                        <p class="item-subtitle">Photoshop</p>
                                        <p class="item-subtitle">Illustrator</p>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </section>
                </div>



            </main>

        </div>

    </div>
</body>
</html>